# Moleship environment

# Logger mode
MOLESHIP_MODE="debug" # debug, debug-silent, production

# Configurations directory
MOLESHIP_CONFIG_HOME="$XDG_CONFIG_HOME/moleship"

# Cache directory
MOLESHIP_CACHE_HOME="$XDG_CACHE_HOME/moleship"

# Long term data directory
MOLESHIP_DATA_HOME="$XDG_DATA_HOME/moleship"

# Listen port
MOLESHIP_SERVER_PORT="6000"

# Binary paths
MOLESHIP_BIN_SYSTEMCTL_PATH="/usr/bin/systemctl"

# Quadlet directory
MOLESHIP_QUADLET_HOME="$HOME/.config/containers/systemd"

# Podman
# Current version of podman for the API and socket
MOLESHIP_PODMAN_VERSION="5.0.0"
# Podman unix socket path
MOLESHIP_PODMAN_SOCKET="$XDG_RUNTIME_DIR/podman/podman.sock"
# Podman running in rootful mode. Not recommended
MOLESHIP_PODMAN_ROOTFUL_MODE=0
