# --- Moleship environment ---

# --- Application mode
# debug: verbose logging. Not recommended for production use.
# silent: no logging. Not recommended for production use.
# production: only error logs. Recommended for production use.
MOLESHIP_MODE="debug" # debug, silent, production

# --- Configurations directory
MOLESHIP_CONFIG_HOME="$XDG_CONFIG_HOME/moleship"

# --- Cache directory
MOLESHIP_CACHE_HOME="$XDG_CACHE_HOME/moleship"

# --- Long term data directory
MOLESHIP_DATA_HOME="$XDG_DATA_HOME/moleship"

# --- Listen port
MOLESHIP_SERVER_PORT="5000"

# --- Binary paths
MOLESHIP_BIN_SYSTEMCTL_PATH="/usr/bin/systemctl"

# --- Quadlet directory
MOLESHIP_QUADLET_HOME="$HOME/.config/containers/systemd"

# --- Podman
# Current version of podman for the API and socket
MOLESHIP_PODMAN_VERSION="5.0.0"
# Podman unix socket path
MOLESHIP_PODMAN_SOCKET="$XDG_RUNTIME_DIR/podman/podman.sock"
# Podman running in rootful mode. Not recommended
MOLESHIP_PODMAN_ROOTFUL_MODE=0

# --- Auth
# only_owner: only the owner of the moleship instance can access the API. The first registered user is the owner. This is the default strategy and recommended for most use cases.
# open: anyone can access the API without authentication. Not recommended for production use.
# multi_user: multiple users can register and access the API. Not recommended for production use.
MOLESHIP_AUTH_USERS_STRATEGY="owner_only"