# -------------------------------------------
# Application
# -------------------------------------------
MOLESHIP_PORT=5000
MOLESHIP_LOG_LEVEL=info
MOLESHIP_MODE=debug
MOLESHIP_ROOTFUL=false

# -------------------------------------------
# Host
# -------------------------------------------
MOLESHIP_HOST_USER=john
MOLESHIP_HOST_UID=1000

# -------------------------------------------
# Data paths
# -------------------------------------------
MOLESHIP_CONFIG_HOME=/app/config
MOLESHIP_DATA_HOME=/app/data
MOLESHIP_CACHE_HOME=/app/cache
MOLESHIP_QUADLET_HOME=/app/quadlets

# -------------------------------------------
# Binaries and sockets
# -------------------------------------------
MOLESHIP_PODMAN_SOCKET=/var/run/podman.sock
MOLESHIP_PODMAN_PATH=/usr/bin/podman
MOLESHIP_SYSTEMCTL_PATH=/usr/bin/systemctl

# -------------------------------------------
# Others
# -------------------------------------------
MOLESHIP_JWT_SECRET=
MOLESHIP_IP_HEADER_LOOKUP=